
.image {
    /* aspect-ratio: 1; */
    /* background-color: var(--embed-block-color); */
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: calc(var(--border-radius) + 2px);
    
    

    img {
        width: 100%;
        height: auto;   
    }

    * {
        position: relative;
        padding: auto;
        
    }
}
