
body {
    .image {
        /* aspect-ratio: 1; */
        /* background-color: var(--embed-block-color); */
        position: relative;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: calc(var(--border-radius) + 2px);
        
        img {
            max-width: 100%;
            max-height: 100%;    
        }

        * {
            position: relative;
            padding: auto;
        }
    }
    
    section.project-grid {
        display: grid;
        align-items: end;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 18em);
    
    }
}
