
.body {
    padding: 20px;
    row-gap: 20px;
}

.body_panel {
    padding: 0.75em;
}

.body_panel:hover {
    box-shadow: 8px 8px var(--footer_color);
}

p {
    padding-top: 0px;
    padding-bottom: 0px;
}

