.article {
    font-size: var(article-p-offset-size);
}

.article h1 {
    clear: both;
    padding-top: 1em;
    text-align: center;
    font-weight: normal;
    color: var(--article-h1-color);
    font-size: var(--article-h1-size);
}

.article h2 {
    clear: both;
    padding-top: 1em;
    color: var(--article-h2-color);
    font-size: var(--article-h2-size);
}