.body {
    width: var(--body-width);
    margin: auto;
    margin-top: var(--body-margin-vertical);
    margin-bottom: var(--body-margin-vertical);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 0;
    row-gap: var(--body-gap);
    column-gap: var(--body-gap);
    color: var(--p-light-color);
    font-size: inherit;

    .break {
        text-align: center;
        font-weight: bold;
        padding: var(--body-panel-padding);
    }


    section {
        display: block;
        background-color: var(--article-color);
        height: fit-content;
        color: var(--p-light-color);
    }

    section.content {
        padding: var(--content-padding);
    }

    section.button {
        padding: var(--button-padding);   
    }
    
    .content .article {
        color: inherit;
    }

    * {
        border-radius: var(--corner-radius);
    }
}

