.box-shadow, .custom-box-shadow {
    * {
        text-decoration: none !important;
    }
    
    *:hover {
        box-shadow: 0px 0px !important;
        text-decoration: none !important;
        color: inherit;
    }

    transition: box-shadow 0.1s ease-in-out;
}

.box-shadow:hover {
    text-decoration: none !important;
    box-shadow: 5px 5px var(--footer-color);
}



.custom-box-shadow:hover {
    box-shadow: 5px 5px var(--inputcolor) !important;
}
