.logo{
    color: var(--p-light-color);
    text-align: center;
    align-self: center;
    grid-row: 1 / span 2;
    
}

.row {
    align-content: space-between;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3.0em auto;
    grid-column-gap: 1em;
    padding: var(--body-panel-button-padding);
    text-overflow: ellipsis;
}