.logo {
    color: var(--p-light-color);
    text-align: center;
    align-self: center;
    grid-row: 1 / span 2;
    width: 3em;
}

.row {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5em;
    padding: var(--body-panel-button-padding);
    text-overflow: ellipsis;

}

@media screen and (max-width: 600px) { 
    .logo {
        width: 2.25em;
    }
}