footer {
    padding: var(--content-padding);
    font-size: var(--footer-p-size);
    display: flex;
    flex-direction: column;
    color: var(--p-dark-color);
    background-color: var(--footer-color);
}

footer > div {
    width: var(--body-width);
    margin: auto;
}

footer p {
    text-align: center;
    align-self:center;
}

footer p > a, footer h4 > a {
    
    color: inherit;
    text-decoration: none;
}

footer h4 > a {
    color: inherit;
    text-decoration: none;
}


footer p > a:hover, footer h4 > a:hover {
    color: inherit;
    text-decoration: underline;
}

.badge-collection {
    display: flex;
    padding-bottom: 10px;
    align-content: start;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}

