.sticky {
    position: sticky;
    top: 0;
    z-index:1;
    width: 100%;
    color: var(--p-light-color);
}

/* hold the title and menu button */
.bar {
    padding-top: var(--body-margin-vertical);
    background-color: var(--header-color);
    z-index: 0
}

.content {
    margin: auto;
    width: var(--body-width);
    display:inherit;
}

.title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
}

/* mobile menu button */
.mobileMenuButton {
    color: inherit;
    font-size: inherit;
    display: none; 
}

.navbar {
    background-color: var(--header-color);
    padding-bottom: calc(var(--body-panel-padding) / 2);
}

/* non-mobile nav */
.menu { 
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.menuBackground {
    background-color: var(--menu-color);
    width: 100%;
    z-index: 10;
    position: absolute;
}

@media screen and (max-width: 600px) { 
    .bar {
        padding-top: calc(var(--body-margin-vertical) / 2);
        padding-bottom: calc(var(--body-margin-vertical) / 2);
    }
    .mobileMenuButton {
        display: inline;
    }

    .mobileMenu {
        display: grid;
        row-gap: var(--body-panel-button-padding);
        padding-top: var(--body-panel-button-padding);
        padding-bottom: var(--body-panel-button-padding);
    }

}



