.badge {
    width: 88px;
    height: 31px;
    display: inline;
}

.pixel-art {
    image-rendering: pixelated;
    border-radius: 0px !important;
}

*, html {
    margin: 0;
    padding: 0;


}

hr {
    display: none;
}

section {
    article {
        img {
            max-width: 40em;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
    padding: 0px 5px;
}


body {
    display: flex;
    flex-direction: column;
    row-gap: 2.0em;
    column-gap: 2.0em;
    min-height: 100vh;

    > header > *,
    > main,
    > footer > *,
    .mobile_nav > * {
        margin: 0 auto;
        max-width: 75rem;
        width: 80%;
    }

    > header .bar, > main {
        row-gap: 1.25em;
        column-gap: 1.25em;
    }

    > header {
        position: sticky;
        top: 0;

        .bar {
            display: flex;
            align-items: center;
            margin: auto;
            overflow: hidden;
            flex-wrap: nowrap;
            text-wrap: nowrap;

            padding: 2em 0em 1em 0em;
        }

        .main-section {
            flex-grow: 1;
        }

        .menu-button {
            display: none;
        }

        .nav {
            column-gap: 1em;
            display: flex;
        }

        .mobile_nav {
            row-gap: 0.5em;
            position: absolute;
            width: 100%;
            display: none;
            flex-direction: column;
            padding: 0.5em 0;
        }
    }

    > main {
        overflow-x: hidden;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;


        > img {
            width: 100%;
            display: block;
            height: auto;
        }

        > section {
            row-gap: inherit;
            column-gap: inherit;
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            flex-wrap: nowrap;



            article.content {
                text-align: left;
            }

            header.content {
                padding: 1em;
                box-sizing: border-box;

                div.list {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 10px;
                    row-gap: 5px;
                    justify-content: left;
                    align-items: flex-start;
                    padding: 0.5em 0em;

                    div {
                        box-sizing: border-box;
                        padding: 0.10em 0.5em;
                        text-align: left;
                        line-height: 31px;

                        height: 31px;

                        text-wrap: nowrap;
                    }
                }

                a div {
                    padding: 0.25em 0.5em;
                }
            }


            article {
                padding: 1.5em;

                > section {
                    text-align: left;

                    * {
                        margin: 1.0em 0.0em;
                    }

                    img {
                        max-width: 30em;
                        width: 100%;
                        margin: auto;
                    }

                    ul, ol {
                        padding-left: 1em;
                    }

                    blockquote, pre {
                        padding: 0.5em;

                    }

                    pre, blockquote {
                        display: block;
                        overflow: scroll;
                        text-wrap: wrap;
                    }

                    pre {
                        text-wrap: nowrap;
                    }

                    hr {
                        margin: 1em 0em;
                    }

                    code {
                        padding: 0em 0.25em;
                    }
                }
            }
        }
        > section.grid {
            display: grid;

            grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
            grid-template-rows: masonry;
            justify-content: center;


            > a {

                display: block;
                position: relative;
                border: none;
                margin: 0;
                padding: 0;
                background-color: #00000000;


                > img {
                    width: 100%;
                    display: block;
                    height: auto;

                }

            }
        }


        a > article {
            padding: 0.75em;
        }
    }

    > footer {
        display: flex;
        flex-direction: column;
        padding: 1.5em 0;

        .badge-collection {
            row-gap: 10px;
            column-gap: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fit, 88px);
            justify-content: center;

        }


        .oneko {
            padding: 0.5em;
        }
    }
}

.about-me-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: end;
    justify-content: center;
    row-gap: inherit;
    column-gap: inherit;

    > * {
        max-width: 40em;
    }
}

/* server-side rendering*/
.photo-slideshow-parent {
    height: 15em;
    aspect-ratio: 1 / 1;
    position: relative;


}

.photo-slideshow-buttons-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.photo-slideshow-buttons {
    margin: 0px auto 4px auto;
    padding: 0px;

    position: relative;

    width: min-content;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: #00000088;


    > button {
        position: relative;
        color: #ffffff88 !important;
        font-size: 8px;
        background: none;
        border: none;
        text-wrap: nowrap;

        padding: 0px;
        margin: 0px 2px;
    }
    > button.selected {
        color: var(--font-link) !important;
    }
}

/* the */
.photo-slideshow, .photo-slideshow-single  {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    border: none;
    background: none;
    display: flex;

    div {
        position: absolute;
        height: auto;
        img {
            margin: auto 0px 0px 0px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: auto;
        }
    }


}



.noJS {
    .photo-slideshow {
        display: none;
        width: 0;
    }

    .photo-slideshow-single {
        display: block;
        height: 15em;

    }

    .photo-slideshow-single img {
        margin: auto;
    }

    .about-me-grid {
        display: flex;
        flex-direction: row;
    }
}
