.pixel-art {
    image-rendering: pixelated;
    border-radius: 0px !important;
}

.badge {
    width: 88px;
    height: 31px;
    display: inline;
}

*, html {
    margin: 0;
    padding: 0;
}

body {
    row-gap: var(--body-gap);
    column-gap: var(--body-gap);
    background-color: var(--background-color);
    min-height: 100vh; 

    display: flex;
    flex-direction: column;

    a.block, button {
        transition: box-shadow 0.1s ease-in-out;
    }

    a.block:hover, button:hover  {
        box-shadow: 5px 5px var(--box-shadow-color);
    }

    header > *,
    main > *,
    footer > * {
        margin: 0 auto;
        max-width: var(--max-width);
        width: var(--content-width);
    }

    header {
        background-color: var(--header-color);
        position: sticky;
        top: 0;
        
        .bar {
            display: flex;
            align-items: center;
            margin: auto;
            padding: var(--button-padding);    
        }
    
        button {
            display: none;
        }

        button:hover {
            box-shadow: 0px 0px;
        }

        .nav {
            display: flex;
            column-gap: 1em;
        }
    
        .mobile_nav {
            display: none;
        }
    }   
    
    main, section {
        article, a.block, button  {
            display: block;
            background-color: var(--article-color);
            height: fit-content;
            border: none;
        }

        a.block {
            padding: var(--a-block-padding);
        }

        article {
            padding: var(--article-block-padding);
        }

        row-gap: inherit;
        column-gap: inherit;
    }

    main {

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        * {
            border-radius: var(--corner-radius);
        }
    }

    footer {

        background-color: var(--footer-color);
    
        display: flex;
        flex-direction: column;

        .badge-collection {
            display: flex;
            row-gap: 10px;
            column-gap: 10px;
            flex-wrap: wrap;
        }
    }
}

