body.noJS {
    height: 100%;
    
    > header .bar {
        .menu-button {
            display: none;
        }
    }   


    > footer {
        .oneko {
            display: none !important;
        }
    }
    
}