.flex {
    display: flex;
    row-gap: inherit;
    column-gap: inherit;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 15em;
    height: 15em;
}

@media screen and (max-width: 800px) { 
    .image {
        width: 12em;
        height: 12em;
    }
    
}

