.flex {
    display: flex;
    row-gap: inherit;
    column-gap: inherit;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.image {
    width: 15em;
    height: 15em;
}


