:root {
    --font-link:     #FC6FC4;
    --font-light:    #FCCAD2;
    --font-dark:     #000000;

    --favicon-size:   4.00em;
    --header-h1-size: 2.25em;
    --header-h2-size: 1.50em;
}

* {
    color: var(--font-light);
    font-weight: normal;
    text-decoration: none;
    font-size: inherit;
}

body {
    header {
        
        * {
            color: var(--font-light);
        }

        a:hover {
            color: var(--font-dark);
        }

        h1 {
            font-size: var(--header-h1-size);
        }

        h2 {
            font-size: var(--header-h2-size);
        }

        .favicon {
            width: var(--favicon-size);
            height: auto;
        }
    }

    main, section {
        article {
            a {
                color: var(--font-link);
            }

            a:hover {
                text-decoration: underline;
            }
        } 
    }

    footer {
        * {
            color: var(--font-dark);
        }

        text-align: center;
    }
}