* {
    color: var(--font-light);
    font-weight: normal;
    text-decoration: none;
}

body {
    header {
        
        * {
            color: var(--font-light);
        }

        a:hover {
            color: var(--font-dark);
        }
    }

    a.block {
        
    }

    main, section {
        article {
            a {
                color: var(--font-link);
            }

            a:hover {
                text-decoration: underline;
            }
        } 
    }

    footer {
        * {
            color: var(--font-dark);
        }
    }
}