
.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex_row {
    width: 100%;
    display: flex;
    flex-direction: row;

}

/*
.flex_row_inline_left {
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: left;
    float:left;
    width: 50%;
}

.flex_row_inline_right {
    display: inline;
    display: flex;
    flex-direction: row;
    float:right;
    justify-content: right;
    width: 50%;
}

*/

.flex_row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.logo{
    text-align: center;
    align-self: center;
    width: 50px;
}

.username_link:hover {
    text-decoration: underline;
}

