.bar {
    margin-top: auto;
    
    padding: 20px;
    width: 100%;

    color: var(--text_dark);
    background-color: var(--footer_color);
}

.content {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.badge {
    margin: 5px;
    display: inline;
}

.breq {
    margin: 5px;
    display: inline;
}


.badge:hover {
    text-decoration: none;
    box-shadow: 5px 5px;
}



.breq:hover {
    text-decoration: none;
    box-shadow: 5px 5px #ffda00;
}

.right {
    margin-left: auto;
    align-self: center;
}

.p {
    font-size: 14px;
}

.link {
    color: var(--text_dark);
}

.link:hover {
    color: var(--text_dark);
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .content {
        width: 100%;  
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .left {
        align-self: left;
    }

    .right {
        align-self: left;
        margin-left: 10px;
        margin-right: auto;
    }

    .p {
        font-size: 10px;
    }    
}

@media screen and (max-width: 600px) {
    .content {
        width: 100%;  
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left {
        align-self: center;
    }

    .right {
        align-self: left;
        margin:auto;
    }
}
