@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header_color: #a06ffd;
    --div_color: #573499;
    --divAlt_color: #8A5FD9;

    --footer_color: #FC62BF;
    --text_light: #FCCAD2;
    --text_dark: #000000;
}


body {
    background-color: #000000;
    color: var(--text_light);
    font-family: Source Code Pro, monospace;
    min-height: 100vh; /* 1 vh = 1% of viewport */
    
    display: flex;
    flex-direction: column;
}

.body {
    padding:10px;
    width: 100%;
}

.body_panel{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--div_color);
}

.stickyTop {
    position: sticky;
    top: 0;
}

.inline {
    display: inline;
}

.center {
    margin:auto;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    
}

p {
    font-size: 15px;
    font-weight: light;
}

.link {
    font-size: 15px;
    font-weight: light;
    color: var(--footer_color);
}

.link:hover {
    text-decoration: underline;
}


@media screen and (max-width: 500px) { 
    h1 {
        font-size: 20px;
        font-weight: bold;
    }
    
    h2 {
        font-size: 15px;
        
    }
    
    p {
        font-size: 12px;
        font-weight: light;
    } 

    .link {
        font-size: 12px;
        font-weight: light;
        color: var(--footer_color);
    }
    
    .link:hover {
        text-decoration: underline;
    }   
}
