@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header_color: #a06ffd;
    --div_color: #573499;
    --divAlt_color: #8A5FD9;
    --footer_color: #FC62BF;
    
    --text_header: #D9BCFF;
    --text_light: #FCCAD2;
    --text_dark: #000000;
}


body {
    background-color: #000000;
    color: var(--text_light);
    font-family: Source Code Pro, monospace;
    min-height: 100vh; /* 1 vh = 1% of viewport */
    
    display: flex;
    flex-direction: column;
}

.body {
    padding:15px;
    width: 100%;
    display: grid;
    row-gap: 15px;
}

.body_panel{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--div_color);
}

.inline {
    display: inline;
}

.center {
    margin:auto;
    text-align: center;
}

h1 {
    color: var(--text_header);
    font-size: clamp(1rem, 3vw, 1.875rem);
    font-weight: bold;
}

h2 {
    color: var(--text_header);
    font-size: clamp(0.875rem, 2vw, 1.25rem);
}

p {
    font-size: clamp(0.75rem, 1.6vw, 1rem);
    font-weight: light;
}

.link {
    font-size: inherit;
    font-weight: light;
    color: var(--footer_color);
}

.link:hover {
    text-decoration: underline;
}
